.container{
    display: flex;
    background-image:url(images/jakob-owens-Np_nvRuhpUo-unsplash\ \(1\).jpg);
    background-size: cover;
    width: 100%;
    height:97vh;
    flex-direction: column;
}

.topInfo{
    display: flex;
    background-color:lightgrey;
    justify-content: center;
    font-size: medium;
    padding:0;
    flex-wrap: wrap;

}

.topBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    
}

.topBarRight{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#topRight{
  width:3vW;
}

.topBarLeft{
  display:flex;
  align-items: center;
}


ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

#topRight{
  display:flex;
  justify-content: flex-end;
  width:2vW;
}